.form{
    margin-top: 70px;
}
.dive-form{
    height: 500px;
}
.col-right{
    background-color: antiquewhite;
    margin-left: 0;
}
.btn-submit{
    float: left;
    margin-top: 30px;
    width: 100%;
    border-radius: 50px;
}
.text-label{
    float: left;
}